/* Reset the default browser style*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Application Style */
@font-face {font-family: 'HelveticaNeue';src: url('../fonts/HelveticaNeue.eot');src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),url('../fonts/HelveticaNeue.woff') format('woff'),url('../fonts/HelveticaNeue.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueUltraLight';src: url('../fonts/HelveticaNeue-UltraLight.eot');src: url('../fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),url('../fonts/HelveticaNeue-UltraLight.woff') format('woff'),url('../fonts/HelveticaNeue-UltraLight.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLight';src: url('../fonts/HelveticaNeue-Light.eot');src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/HelveticaNeue-Light.woff') format('woff'),url('../fonts/HelveticaNeue-Light.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTProTh';src: url('../fonts/HelveticaNeueLTPro-Th_1.eot');src: url('../fonts/HelveticaNeueLTPro-Th_1.eot?#iefix') format('embedded-opentype'),url('../fonts/HelveticaNeueLTPro-Th_1.woff') format('woff'),url('../fonts/HelveticaNeueLTPro-Th_1.ttf') format('truetype');}

/* General Styles*/
body {
	background: url('../img/bg.png');
	font-size: 100%;
}

.home-logo img{
	width: 100%;
}

.home-logo {
	position: absolute;
  	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-container {
	padding: 10px 0;
}

.logo-img {
	text-align: center;
	padding: 30px 0 20px;
}

.logo-img h1{
	max-width: 410px;
	max-height: 90px;
	display: inline-block;
}

.logo-img img {
	width: 80%;
}

.style-1 {
	font-size: 1em;
	font-family: "HelveticaNeueUltraLight";
	color: #fff;
	text-align: center;
	margin: 20px 0;
}

.sslogin-btns, .ext-user-btn {
	text-align: center;
}

.sslogin-btns, .ext-user-btn, .user-login {
	margin: 50px 0 0;
	font-family: "HelveticaNeueLight";
}

.sslogin-btns p, .sslogin-btns a {
	font-size: 1.2em;
}

.sslogin-btns p, .sslogin-btns a, .ext-user-btn a, .ext-user-btn p, .user-login p {
	color: #fff;
}

.sslogin-btns a {
	margin: 20px 0;
	padding: 30px 0;
	display: inline-block;
	width: 80%;
	text-decoration: none;
	border: 1px solid #ffd61a;
}

.ext-user-btn p, .user-login p{
	font-size: 1em;
	margin: 20px 0;
}

.btn-primary{
	padding: 20px 50px;
	background-color: #18bcae;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2em;
	color: #fff;
}

.ext-user-btn p a, .user-login p a{
	text-decoration: none;
	color: #18bcae;
}

.user-login {
	padding: 0 30px;
}

.user-login div {
	margin-top: 10px;
}

.user-login label, .user-login input, .search-location label{
	display: block;
	color: #fff;
	font-size: 1.2em;
	width: 90%;
	margin: 10px 0;
}

.user-login input {
	background: transparent;
	border: none;
	border: 1px solid #ffd61a;
	padding: 20px 10px;
	font-size: 1em;
	outline: none;
}

.btn-login, .next-btn {
	padding: 40px 0 10px;
	text-align: center;
}

.user-login p {
	text-align: center;
}

.search-location {
	margin: 70px 0 0 30px;
	font-family: "HelveticaNeueLight";
}

.selector-wrapper{
    border: 1px solid #ffd61a;
    width: 85%;
    margin-bottom: 10%;
    overflow: hidden;
    background-image: url("../img/down-arrow.png");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 25px 13px;
    padding-right: 10px;
    outline: none;
}

.search-location div select {
    width: 110%;
    background-color: transparent;
    color: #fff;
    font-size: 1.2em;
    font-family: 'calibri';
    font-weight: 300;
    padding: 15px 20px 15px 10px;
    border: none;
}

.search-location div select option {
	color: #000;
}

.header-section {
	background-color: #000;
	color: #fff;
	overflow: hidden;
	padding: 25px 0 15px;
}

.header-section a {
	float: left;
	padding: 5px 0 0 10px;
}

.header-section h1 {
	text-align: center;
}

.search-section {
	background-color: #ffd61a;
}

.search-field {
    max-height: 70px;
    overflow: hidden;
    padding: 10px 0;
}

.search-field a {
    width: 5%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.search-field a img {
	width: 100%;
}

.search-field input{
    width: 85%;
    display: inline-block;
    font-size: 1.2em;
    padding: 2% 1%;
    background: transparent;
    border: none;
    outline: none;
}

.search-by-items img{
	width: 100%;
}

.search-result-item {
	padding: 20px 20px 15px;
	font-family: "HelveticaNeueLTProTh";
	background: #fff url("../img/right-arrows.png") no-repeat 95% center;
	display: block;
	text-decoration: none;
	color: #000;
}

.search-result-item h2{
	font-size: 1em;
	padding-bottom: 10px;
}

.search-result-item p{
	font-size: 0.8em;
	padding-bottom: 5px;
}

.search-results li {
	margin-bottom: 1px;
}

.add-to-fav {
	float: right;
    color: #000;
    text-decoration: none;
    width: 70px;
    text-align: center;
    font-family: "HelveticaNeueLTProTh";
    font-size: 0.8em;
}
.search-result-detail {
	font-family: "HelveticaNeueLTProTh";
	background-color: #fff;
	padding: 0 10px;
}

.search-result-detail h2{
 	padding: 20px 0 20px 0;
 	font-size: 1.2em;
 	font-weight: bold;
 }

.search-result-detail h3{
 	font-weight: bold;
 	font-size: 0.8em;
 	padding: 0 0 5px;
 }

.search-result-detail li{
 	padding: 10px 0;
 }

.search-result-detail p{
 	font-size: 0.8em;
 	line-height: 1.3;
 }

.location-rating .location-dtl, .location-rating .rating-dtl{
 	float: left;
 	padding: 10px 10px 10px 0;
 }

 .location-rating .location-dtl {
 	width: 40%;
 }

.location-rating .rating-dtl{
	border-left: 1px solid #ffd61a;
	padding-left: 10px;
}

.location-rating .rating-dtl h3{
	padding-left: 5px; 
}

.location-rating {
 	overflow: hidden;
 	border-top: 1px solid #ffd61a;
 	border-bottom: 1px solid #ffd61a;
 }

div.stars {
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 5px;
  font-size: 16px;
  color: #444;
  transition: all .2s;
}

input.star ~ label.star:before {
	color: gray;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f005';
  font-family: FontAwesome;
  color: gray;
}