<section class="main-container">
    <div class="logo-img">
        <h1><img src="img/home-logo.png" alt="skillyWilly"></h1>
    </div>

    <p class="style-1">Lorem Ipsum Lorem IpsumLorem Ipsum</p>

    <div class="user-login">
        <div>
            <label>Username</label>
            <input type="text" name="username" class="username"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" class="pwd"/>
        </div>
        <div class="btn-login">
            <a href="select-location.html" class="btn-primary" id="loginUser">ENTER</a>
        </div>
        <p>Forgot Password <a href="#">Click Here</a></p>
    </div>

</section>